header h1 {
  text-align: center;
}

#featured-property img {
  display: block;
  margin: 0 auto;
}

nav a {
  padding: 0 10px;
  background-color: grey;
}

#featured-property figcaption {
  font-size: smaller;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

#details div {
  float: left;
  margin: ;
}

footer div {
  background-color:red;
  text-align: center;
  width: 25%;
}